.THIS .sourcing_Text{
    text-align: justify;
    border: solid 1px #eae7e7;
    margin: 10px;
}
.THIS .cQueryBuilderComponent .slds-modal__container {
    width: 40%;
}

.THIS .slds-modal__header{
    border-bottom: 0px solid rgb(221, 219, 218);
}
.THIS .slds-tableHeader-20{
    width: 20%;
}
.THIS .slds-tableHeader-18{
    width: 18%;
}
.THIS .slds-tableHeader-35{
    width: 35%;
}
.THIS .slds-tableHeader-9{
    width: 9%;
}

.THIS .slds-icon-action-close{
   /* background-color: #f4c842;*/
}

/*.THIS .slds-icon-action-close svg{
    fill: black;
}*/

/*
.THIS .slds-box {
    padding: 0rem;
    border-radius: 0rem;
    border: none;
}*/