.THIS .col {
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: calc(0.75rem / 2);
    padding-right: calc(0.75rem / 2);
}
.THIS .right-col {
    padding-left: .75rem;
    padding-right: calc(0.75rem / 2);
}
.THIS .left-col{
    padding-right: .75rem;
    padding-left: calc(0.75rem / 2);
}

.THIS .bottom-col{
    padding-top: calc(0.75rem / 2);
}

.THIS .top-left-col{
    padding-right: calc(0.75rem / 2);
    padding-bottom: calc(0.75rem / 2);
}

.THIS .top-right-col{
    padding-left: calc(0.75rem / 2);
    padding-bottom: calc(0.75rem / 2);
}

.THIS .left-col{
    padding-right: .75rem;
}

.THIS .rightPanel{
    width:380px;
    float : right;
}
.THIS .leftPanel{
    float : left;
}