.THIS .opt-selected{
    content: '';
    float: right;
    width: 10px;
    height: 10px;
    background: #4AB1E9;
    border-radius: 100%;
    margin: 5px 5px 0 0;
}

.THIS .slds-listbox, .THIS .slds-dropdown{
    z-index:88;
}
.THIS .slds-listbox__item .slds-listbox__item__only-toggle{
    color: #4285f4;
    display: none;
    padding: 1px 0px 0px 0px;
    text-transform: uppercase;
}
.THIS .slds-listbox__item:hover .slds-listbox__item__only-toggle{
    display: inline;
    margin: 5px 20px 0 0;
}