.THIS .slds-dueling-list__column_responsive .slds-dueling-list__options{
    width: 100%;
    max-width: 100%;
}
.THIS .slds-modal__close{
    color:white;
}
.THIS .bottomDiv{
    float: right;
    margin: 2% 5%
}
.THIS .slds-dueling-list__column_responsive{
    flex:none;
}

.THIS .slds-dueling-list__column{
    width:7%;
}
.THIS .slds-dueling-list__column_responsive{
    width:45%;
}