.THIS img{
    margin-bottom: 0.75rem;
}
.THIS .customtaskcss{
	opacity:0.75!important;
}
.THIS .customtaskcss:hover{
	opacity:1!important;
}
.THIS .slds-modal__container:focus {
	outline: none!important;
}
.THIS .ivp-take-ownership{
    background-color:#f53300;border:0px;
    margin-right: 0px;

}
.THIS .slds-spinner-top, .THIS.slds-spinner-top{
    z-index:9050 !important;
}
.THIS .textColor{
    color:white;
}
.THIS .cssPromoteAndOwnerShip{
    margin-right: 0px;
    height: 30px;
}
.THIS .cCmp_Financials {
    display:inline-block;
}
.THIS .slds-icon-text-default {
    fill: #fff;
}
.THIS .slds-button.cCmp_Financials .slds-icon.slds-icon_small, .THIS .slds-button.cCmp_SendToPipe .slds-icon.slds-icon_small{
    margin-top: -2px;
}
.THIS .showBackDrop.slds-slide-up-open{
    opacity:0;
}
.THIS .commentsWide {
    height: 300px;
}
.THIS #newTaskModal  textarea.commentsWide{
    resize: none;
    height: 356px;
}
.THIS #newTaskModal .slds-size--7-of-12 .slds-textarea{
    resize:none;
    height:21rem;
}
.THIS #newTaskModal .slds-modal__content{
    padding-bottom: 5%!important;
    margin-top: -15px;
}
/* .THIS #newTaskModal .slds-modal__content{
    padding-bottom: 0!important;
    margin-top: -15px;
} */
.THIS #newTaskModal .slds-table thead th {
    font-size: 11px;
}
.THIS #newTaskModal .slds-input{
    min-height:30px; 
    height:30px
}
.THIS #newTaskModal .slds-select{
   height:30px !important; 
}
.THIS #newTaskModal  .slds-modal__header {
    padding: 8px 1rem;

}
.THIS #newTaskModal .slds-modal__container{
    padding: 1rem 0; 
    height: 100%;
    max-width:100%;
    width:95%; 
}
.THIS #newTaskModal .slds-p-around_small, .THIS #newTaskModal .slds-p-around--small {
    padding: 4px .75rem;
}
.THIS .slds-rich-text-area__content {
    height: 270px;
    max-height: 270px;
}
.THIS .prompt-modal .slds-modal{
    z-index: 9002;
}
.THIS .prompt-modal .slds-backdrop{
    z-index: 9001;
}
.THIS #newTaskModal .slds-table .slds-truncate {
    white-space: normal;
}
.THIS .slds-textarea{
    height: 14rem;
}

.THIS .nextActionTextArea textarea {
    height: 14rem;
}
.THIS .grayedOutAssign{
    margin-right :0px;
}
.THIS .iconSpace{
    padding-right: 3px;
}
.THIS .grayedoutAssignBtn{
    margin-right: 0px;
    height: 30px;
}
.THIS .ivp-ownershipdisabled, .THIS .toPromoteDisabled{
    background-color: gray;
}
.THIS .toPromote{
    background-color: rgb(27, 82, 151);
}
/* .THIS .lightningInputRichText  {
    height: 8rem;
} */