.THIS .ivp-company-request{
    position: absolute;
    min-width: 14em;
    max-width: 14em;
}
.THIS .ivp-reject lightning-primitive-icon>svg.slds-icon-text-default{
    fill:red;
}
.THIS .ivp-accept lightning-primitive-icon>svg.slds-icon-text-default{
    fill:green;
}
.THIS ul > li.slds-is-active {
   background-color: #D0EAEE ;
}