.THIS {
    font-family: "Lato", sans-serif;
}

.THIS .show-sidenav{
    width:600px!important;
}

.THIS .hide-sidenav{
    margin-right:-1.5em;
}

.THIS .sidenav {
    min-height: 100%;
    width: 0;
    position:absolute!important;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(245, 244, 244);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.THIS .slds-nav{
    min-height: 102%;
    width: 0;
    position:absolute!important;
    z-index: 99;
    top: 0;    
    right: -0.75em;
    overflow-x: hidden;
    transition: 0.5s;
}

.THIS .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.THIS .sidenav a:hover {
    color: #f1f1f1;
}

.THIS .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.THIS .slds-nav-container{
    position: fixed;
    top: 10px;
    height: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 98;
    background-color: rgba(128, 128, 128, 0.9);
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .2s ease,visibility 0s;
    transition: opacity .2s ease,visibility 0s;
    -webkit-transition-delay: 0s,.3s;
    transition-delay: 0s,.3s;
    border-radius:0.5em;
}

.THIS .slds-nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.THIS .slds-nav button.closeBtn{
    position: absolute;
    right: 0.0em;
    top: 0;
    background-color: rgb(254,133,0);
    border-color: rgb(254,133,0);
}

@media screen and (max-height: 450px) {
    .THIS .sidenav {padding-top: 15px;}
    .THIS .sidenav a {font-size: 18px;}
}

.THIS button.openBtn{
    position: absolute;
    right: -0.75em;
    margin-top: -0.75em;
    background-color: rgb(254,133,0);
    border-color: rgb(254,133,0);
}

.THIS .inner {
   width: 95%;
   height: 5px;
   margin: 0px auto;
   border-bottom: 1px solid rgba(221, 219, 218, 0.5);

}

.THIS ul.slds-vertical-tabs__nav{
    width: 2em;
    border-radius: .5em 0 0 .5em;
    margin-top: 1em;
}
.THIS #clsTab.slds-vertical-tabs__nav{
    float: right;
    margin-right: -0.75em;
}
.THIS #openTab.slds-vertical-tabs__nav{
    right: -1px;
    position: fixed;
}
.THIS ul.slds-vertical-tabs__nav .slds-vertical-tabs__link{
    padding: 0.75em;
    cursor:pointer;
    color: white;
    font-size:0.9em;
}

.THIS ul.slds-vertical-tabs__nav>li{
    border-radius: 0.5em 0 0 0.5em;
}

.THIS .slds-vertical-tabs__nav, .THIS .slds-vertical-tabs__nav-item{
    border:0px;
}