.THIS .at_title_section {
	width: 100%;
}
.THIS .at_icon, .THIS .at_icon_selected {
	margin-right: 4px;
}
.THIS .at_icon_selected button {
	background-color: #0070d2;
	border-color: #0070d2;
	color: white;
}
.THIS .at_icon_selected button:hover svg, .THIS .at_icon_selected button:focus svg {
	fill: white;
}
.THIS .at_lmpa_item {
	display: flex;
	align-items: center;
	justify-content: center;
}
.THIS .at_title_text {
	padding: 0;
}