.THIS.preferenceHeader{
    padding-left: 8px;
    font-weight: 300;
    font-size: 1.5rem;
    font-family: 'Salesforce Sans',Arial,sans-serif;
}
.THIS.toggleHide{
    display:none;
}
.THIS .truncateCol{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float:left;
    max-width:60%;
}
.THIS .gray{
   color:blue;
   cursor:default;
   font-weight: bold;
}
.THIS .gray:hover{
    text-decoration:none;
}
.THIS .gray:focus{
    text-decoration:none;
}