.THIS .cursor-default{
    cursor : default;
}
.THIS .slds-tile__title{
    border-radius:0.5em;
    width:99%;
}
.THIS .scrollable-height{
    /*max-height: 800px;*/
}
.THIS .inner {
   width: 75%;
   height: 5px;
   margin: 0px auto;
   border-bottom: 1px solid rgba(221, 219, 218, 0.5);

}
.THIS .no-redirect {
	cursor:default;
	color:gray;
    display:inline;
}
.THIS .no-redirect:hover{
	text-decoration:none;
}

.THIS .ivp-cat{
    display:inline;
    border-radius:5px;
}
.THIS .ivp-cat> div,.THIS .ivp-cat> a{
    padding:5px;
    color:white;
}
.THIS .ivp-cat> a{
    font-weight: bold;
}
.THIS .slds-checkbox_add-button .slds-checkbox_faux:before, 
.THIS .slds-checkbox_add-button .slds-checkbox_faux:after, 
.THIS .slds-checkbox_add-button .slds-checkbox--faux:before, 
.THIS .slds-checkbox_add-button .slds-checkbox--faux:after{
    background:white!important;
}

.THIS .slds-card__header {
    padding: .75rem 0.75rem 0;
    margin: 0 0 .75rem;
}