.THIS.slds-page-header{
    background:white;
}
.THIS .slds-button_brand.set-white svg{
	fill:white!important;
}
.THIS .clear{
    position:absolute;
}
.THIS .slds-button-group.clear svg{
	fill:#cacaca!important;
	margin-left: 2px;
    margin-top: -2px;
}
.THIS .slds-button-group.clear button{
	right:2em;
}
.THIS .slds-button-group, .THIS .slds-button{
	height:1.9rem;
}

.THIS .dropdown-main {
  top: 10%;
}

.THIS .dropdown-main ul {
  max-height: 130px;
}

.THIS .slds-shrink-none{
    padding-top: 0.9rem;
    padding-left: .75rem;
}
.THIS .slds-shrink-none >.right{
    float: right;
}
.THIS .slds-shrink-none >.left{
    float: left;
}
.THIS.clear-test::after{
    content:'';
    color:red;
}
.THIS .fstActive{
    z-index:99!important;
}