.THIS {
}
/*.THIS .slds-icon-custom-custom17
{
	background-color: green;
}*/
.THIS.sendToPipeGreen
{
    background-color:green!important;border:0px!important;
}

.THIS .sendToPipeIconGreen
{
    background-color:green!important;
    margin-left:-6px
}

.THIS .sendToPipeIconGrey
{
    background-color:rgb(201, 199, 197)!important;
    margin-left:-6px
}