.THIS .slds-accordion__summary{
    align-items: center;
    background: rgb(243, 242, 242);
    cursor: pointer;
    width: 100%;
    text-align: left;
    color: currentColor;
    font-size: inherit;
    padding: 0 .5rem;
}

.THIS button.slds-accordion__summary-action:focus{
    text-decoration:none;
}

.THIS .slds-is-open>.slds-accordion__summary{
    margin-bottom:0;
}
.THIS .slds-accordion__section {
    padding: 0;
}