.THIS .scrollerSize {
    height: 300px;
}
.THIS .filterText {
    font-size : 10px;
}
.THIS .filterRow{
   max-width: 90%;
}
.THIS .slds-dropdown{
    z-index:1;
}
.THIS .legends-list{
    max-height: 12em;
    overflow-x: hidden;
    overflow-y: scroll;
}