.THIS .slds-button_brand.set-white svg{
	fill:white!important;
	float: left;
}

.THIS .slds-button-group, .THIS .slds-button{
	height:2.1rem;
}

.THIS .dropdown-main {
  top: 10%;
}

.THIS .dropdown-main ul {
  max-height: 130px;
}

.THIS .slds-shrink-none{
    padding-top: 0.9rem;
    padding-left: .75rem;
}
.THIS .slds-shrink-none >.right{
    float: right;
}
.THIS .slds-shrink-none >.left{
    float: left;
}