.THIS img.disabled {
    opacity:0.4;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.THIS .spinner-box {
    top: 18px;
    right: 35px;
    left: -35px;
}