.THIS .datePicker-openIcon{
     display : none !important;
}

.THIS .bottom-up{
     bottom : 10px;
}

.THIS .scrollable-height{
    /*top : -10px;
    max-height : 450px;*/	
}
.THIS .top-margin{
    margin-top : 15px;
}
.THIS div.logpick-height select{
	height : 36px;
}
.THIS textarea{
    resize : none!important;
}