.THIS {
}
.THIS .slds-modal {
    width: 190%;
    left: -45%;
}
.THIS .slds-modal:focus {
    outline: none !important;
}
.THIS .slds-modal__content {
    min-height: 16rem;
}
.THIS .slds-modal__container{
    width:100%;
}
.THIS .selectize-input input {
    /*width: 100% !important;*/
}
.THIS .rules-group-container select {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 219, 218);
    border-radius: .25rem;
    width: 100%;
    transition: border .1s linear,background-color .1s linear;
    height: calc(1.875rem + (1px * 2));
    text-transform: none;
}
.THIS .rules-group-container input {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 219, 218);
    border-radius: .25rem;
    width: 100%;
    transition: border .1s linear,background-color .1s linear;
    display: inline-block;
    padding: 0 1rem 0 .75rem;
    line-height: 1.875rem;
    min-height: calc(1.875rem + (1px * 2));
}

.THIS .rule-value-container {
    width: 150px;
}
.THIS .rule-header .btn-group {
    top: 5px;
}
.THIS .req:after {
    color: #e32;
    content: '*';
    display:inline;
}

.THIS .slds-scope  .custom-input-spinner{
    position: absolute;
    right:0px;
    left:unset;
    width:30px;
    height:30px;
    top:1px;
}

.THIS .selectize-control.single .selectize-input:after {
    display:none;
}

.THIS .slds-spinner{
    left:unset;
    right:0px;
}