.THIS {
  font-size: .8125rem;
  border-radius: 2px;
  font-weight: 700;
  color: #ffffff;
  line-height: 1;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  background-color: rgb(254, 133, 0);
  width: 100%;
  border: none;
  padding: 26px 16px;
  
  transition: color .4s ease,background-color .4s ease;
  transition-property: color, background-color;
  transition-duration: 0.4s, 0.4s;
  transition-timing-function: ease, ease;
  transition-delay: initial, initial;
  -webkit-appearance: none;
  font-family: arial;  
}

.THIS:hover {
    background-color: #C9691B;
    color: white;
}