.THIS .slds-timeline__item_expandable:before {
	left: 1.75rem;
}
.THIS .slds-checkbox[type="checkbox"][disabled] {
	background-color: #ecebea;
	border-color: #c9c7c5;
	background-image: none;
}
.THIS .at_fld_section {
	padding: 0.4rem;
	margin-right: 0.5rem;
}
.THIS .overdue {
	color: red;
	font-weight: bold;
}
.THIS .slds-overdue {
	color: white;
	/* font-weight: bold; */
}

.THIS .at_outputValue {
	font-size: 0.85rem;
	word-wrap: break-word;
}

.THIS .call svg, .THIS .slds-timeline__item_call:before, .THIS .slds-timeline__icon_call {
	fill: white;
	background: rgb(0,232,23);
	border: 2px solid rgb(0,232,23);
}
.THIS .meeting svg, .THIS .slds-timeline__item_meeting:before, .THIS .slds-timeline__icon_meeting {
	fill: white;
	background: rgb(0,193,245);
	border: 2px solid rgb(0,193,245);
}
.THIS .meet svg, .THIS .slds-timeline__item_meet:before, .THIS .slds-timeline__icon_meet {
	fill: white;
	background: rgb(0,193,245);
	border: 2px solid rgb(0,193,245);
}
.THIS .voicemail svg, .THIS .slds-timeline__item_voicemail:before, .THIS .slds-timeline__icon_voicemail {
	fill: white;
	background: rgb(0,3,255);
	border: 2px solid rgb(0,3,255);
}
.THIS .vmail svg, .THIS .slds-timeline__item_vmail:before, .THIS .slds-timeline__icon_vmail {
	fill: white;
	background: rgb(0,3,255);
	border: 2px solid rgb(0,3,255);
}
.THIS .email svg, .THIS .slds-timeline__item_email:before, .THIS .slds-timeline__icon_email {
	fill: white;
	background: rgb(250,50,200);
	border: 2px solid rgb(250,50,200);
}
.THIS .unassign svg, .THIS .slds-timeline__item_unassign:before, .THIS .slds-timeline__icon_unassign {
	fill: white;
	background: rgb(245,51,0);
	border: 2px solid rgb(245,51,0);
}
.THIS .pass svg, .THIS .slds-timeline__item_pass:before, .THIS .slds-timeline__icon_pass {
	fill: white;
	background: rgb(245,158,0);
	border: 2px solid rgb(245,158,0);
}
.THIS .other svg, .THIS .slds-timeline__item_other:before, .THIS .slds-timeline__icon_other {
	fill: white;
	background: rgb(245,241,9);
	border: 2px solid rgb(245,241,9);
}
.THIS .examine svg, .THIS .slds-timeline__item_examine:before, .THIS .slds-timeline__icon_examine {
	fill: white;
	background: rgb(245,241,9);
	border: 2px solid rgb(245,241,9);
}
.THIS .companyrequest svg, .THIS .slds-timeline__icon_companyrequest:before,.THIS .slds-icon-text-default, .THIS .slds-timeline__icon_companyrequest {
	fill: white;
	background: rgb(0, 95, 178);
	border: 2px solid rgb(0, 95, 178);
}
.THIS .termsheetproposed svg, .THIS .slds-timeline__item_termsheetproposed:before, .THIS .slds-timeline__icon_termsheetproposed {
	fill: white;
	background: rgb(0,193,245);
	border: 2px solid rgb(0,193,245);
}
.THIS .termsheetsigned svg, .THIS .slds-timeline__item_termsheetsigned:before, .THIS .slds-timeline__icon_termsheetsigned {
	fill: white;
	background: rgb(0,193,245);
	border: 2px solid rgb(0,193,245);
}
.THIS .article svg, .THIS .slds-timeline__item_article:before, .THIS .slds-timeline__icon_article {
	fill: white;
	background: rgb(71,237,198);
	border: 2px solid rgb(71,237,198);
}
.THIS .attachment svg, .THIS .slds-timeline__item_attachment:before, .THIS .slds-timeline__icon_attachment {
	fill: white;
	background: rgb(71,237,198);
	border: 2px solid rgb(71,237,198);
}

.THIS .slds-timeline__item_call:before, .THIS .slds-timeline__item_meeting:before, .THIS .slds-timeline__item_meet:before, .THIS .slds-timeline__item_voicemail:before, .THIS .slds-timeline__item_vmail:before, .THIS .slds-timeline__item_email:before, .THIS .slds-timeline__item_unassign:before, .THIS .slds-timeline__item_pass:before, .THIS .slds-timeline__item_other:before, .THIS .slds-timeline__item_examine:before, .THIS .slds-timeline__item_termsheetproposed:before, .THIS .slds-timeline__item_termsheetsigned:before, .THIS .slds-timeline__item_article:before, .THIS .slds-timeline__item_attachment:before {
	border: none;
}
.THIS .slds-text-longform li ul{
	margin-bottom: 0;
}
.THIS .slds-text-longform li ol{
	margin-bottom: 0;
}
.THIS .slds-text-longform p{
	margin-bottom: 0;
}
.THIS .slds-text-longform ol{
	margin-bottom: 0;
}
.THIS .slds-text-longform ul{
	margin-bottom: 0;
}
.THIS .slds-text-longform{
	word-wrap: break-word;
	white-space: normal;
}
.THIS .slds-comreq{
	color:white;
}
.THIS .slds-grid:before, .THIS.slds-grid_vertical-align-center:before, .THIS .slds-timeline__trigger_companyrequest:hover{
	background-color:rgb(169,169,169);
 } 
.THIS .slds-timeline__trigger_call:hover{
	background-color:rgb(244, 246, 249);    
 } 
 .THIS .slds-grid:before, .THIS.slds-grid_vertical-align-center:before, .THIS .slds-timeline__trigger_meeting:hover{
	background-color:rgb(244, 246, 249);
 } 
 .THIS .slds-grid:before, .THIS.slds-grid_vertical-align-center:before, .THIS .slds-timeline__trigger_meet:hover{
	background-color:rgb(244, 246, 249);
 } 
 .THIS .slds-grid:before, .THIS.slds-grid_vertical-align-center:before, .THIS .slds-timeline__trigger_voicemail:hover{
	background-color:rgb(244, 246, 249);
 } 
 .THIS .slds-grid:before, .THIS.slds-grid_vertical-align-center:before, .THIS .slds-timeline__trigger_task:hover{
	background-color:rgb(244, 246, 249);
 } 
 .THIS .slds-grid:before, .THIS.slds-grid_vertical-align-center:before, .THIS .slds-timeline__trigger_vmail:hover{
	background-color:rgb(244, 246, 249);
 }    
 .THIS .slds-grid:before, .THIS.slds-grid_vertical-align-center:before, .THIS .slds-timeline__trigger_email:hover{
	background-color:rgb(244, 246, 249);
 }
 .THIS .slds-grid:before, .THIS.slds-grid_vertical-align-center:before, .THIS .slds-timeline__trigger_unassign:hover{
	background-color:rgb(244, 246, 249);
 }
 .THIS .slds-grid:before, .THIS.slds-grid_vertical-align-center:before, .THIS .slds-timeline__trigger_pass:hover{
	background-color:rgb(244, 246, 249);
 }
 .THIS .slds-grid:before, .THIS.slds-grid_vertical-align-center:before, .THIS .slds-timeline__trigger_other:hover{
	background-color:rgb(244, 246, 249);
 }
 .THIS .slds-grid:before, .THIS.slds-grid_vertical-align-center:before, .THIS .slds-timeline__trigger_examine:hover{
	background-color:rgb(244, 246, 249);
 }
 .THIS .slds-grid:before, .THIS.slds-grid_vertical-align-center:before, .THIS .slds-timeline__trigger_examine:hover{
	background-color:rgb(244, 246, 249);
 }   
 .THIS .slds-grid:before, .THIS.slds-grid_vertical-align-center:before, .THIS .slds-timeline__trigger_termsheetproposed:hover{
	background-color:rgb(244, 246, 249);
 }
 .THIS .slds-grid:before, .THIS.slds-grid_vertical-align-center:before, .THIS .slds-timeline__trigger_article:hover{
	background-color:rgb(244, 246, 249);
 } 
 .THIS .slds-grid:before, .THIS.slds-grid_vertical-align-center:before, .THIS .slds-timeline__trigger_attachment:hover{
	background-color:rgb(244, 246, 249);
 }
.THIS .slds-date{
    color:white;
}
.THIS .slds-timeline__item_task:before{
    background-color:#d2d2d2;
}

.THIS .task svg{
     background-color:#d2d2d2;
     border-color: #d2d2d2;
    border-radius: 2px;
}
.THIS .slds-timeline__item_companyrequest:before{
    background-color:rgb(0, 95, 178);
}

/* .THIS .slds-date-nxt-prev{
    color:red;
} */
/*.THIS a:hover {
	color: blue;
  }*/
  /* .THIS a {
	color: white;
  } */