.THIS .scrollable-height{
    max-height:10rem;
}
.THIS .slds-sapn_separator:not(:last-child)::after {
    content: ' \2022';
}
.THIS .slds-sapn_separator:not(:first-child):before {
    content: '\2006';
}
.THIS .slds-button-img_width-auto_fit {
    max-width:fit-content;
}
.THIS .inner {
    width: 80%;
    height: 1px;
    margin: 0px auto;
    border-bottom: 1px solid #f2f2f2;
}
.THIS table tbody tr:last-child td .inner {
    display: none;
}
.THIS img.disabled {
    opacity:0.4;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.THIS button.disabled {
    cursor:default;
}
.THIS .spinner-box {
    top: 18px;
    right: 35px;
    left: -35px;
}

.THIS .slds-card__header {
    padding: .75rem 0.75rem 0;
    margin: 0 0 .75rem;
}