.THIS {
}
.THIS abbr {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}
.THIS .slds-grid 
{
	background-color: white;
}
.THIS .uiInput--select
{
	background-image: none!important;
}