.THIS img.fade1 {
    opacity: 0.9;
}
.THIS img.fade2 {
    opacity: 0.6;
}
.THIS img.fade3 {
    opacity: 0.3;
}
.THIS img.fade0 {
    opacity: 1.0;
}
.THIS img,img.THIS{
    /*padding-left:1px*/
}
.THIS .slds-border_left{
    border-width:1.5px;
}
.THIS img.slds-border_left{
    padding-left: 0.5rem;
}

.THIS table th:nth-child(0){
    min-width:175px
}