<apex:page standardController="Contract" id="thePage" standardStylesheets="false" applyBodyTag="false" docType="html-5.0">
    <apex:form >
       <apex:inputHidden value="{!Contract.Status_Formula__c}"/>
   </apex:form>
   <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Import the Design System style sheet -->
      <apex:slds />
      <!-- REQUIRED SLDS WRAPPER -->
      <div class="slds-scope">
         <div class="slds-grid">
          <div class="slds-tabs--path" role="application">
            <ul class="slds-tabs--path__nav" role="tablist">
              <li class="{!IF(Contract.Status_Formula__c>1,'slds-tabs--path__item slds-is-complete',IF(Contract.Status_Formula__c=1,'slds-tabs--path__item slds-is-current','slds-tabs--path__item slds-is-incomplete'))}" role="presentation">
                <a class="slds-tabs--path__link" id="tabs-path-96" aria-controls="content-path-1" aria-selected="false" tabindex="-1" role="tab" href="javascript:void(0);" aria-live="assertive">
                  <span class="slds-tabs--path__stage">
                    <svg class="slds-icon slds-icon--x-small" aria-hidden="true">
                      <use xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#check')}"></use>
                    </svg>
                    <span class="slds-assistive-text">Stage Complete</span>
                  </span>
                  <span class="slds-tabs--path__title">Pre-Approved</span>
                </a>
              </li>
               <li class="{!IF(Contract.Status_Formula__c>2,'slds-tabs--path__item slds-is-complete',IF(Contract.Status_Formula__c=2,'slds-tabs--path__item slds-is-current','slds-tabs--path__item slds-is-incomplete'))}" role="presentation">
                <a class="slds-tabs--path__link" id="tabs-path-96" aria-controls="content-path-1" aria-selected="false" tabindex="-1" role="tab" href="javascript:void(0);" aria-live="assertive">
                  <span class="slds-tabs--path__stage">
                    <svg class="slds-icon slds-icon--x-small" aria-hidden="true">
                      <use xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#check')}"></use>
                    </svg>
                    <span class="slds-assistive-text">Stage Complete</span>
                  </span>
                  <span class="slds-tabs--path__title">Pre DDQ</span>
                </a>
              </li>
              <li class="{!IF(Contract.Status_Formula__c>3,'slds-tabs--path__item slds-is-complete',IF(Contract.Status_Formula__c=3,'slds-tabs--path__item slds-is-current','slds-tabs--path__item slds-is-incomplete'))}" role="presentation">
                <a class="slds-tabs--path__link" id="tabs-path-97" aria-controls="content-path-1" aria-selected="false" tabindex="-1" role="tab" href="javascript:void(0);" aria-live="assertive">
                  <span class="slds-tabs--path__stage">
                    <svg class="slds-icon slds-icon--x-small" aria-hidden="true">
                      <use xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#check')}"></use>
                    </svg>
                    <span class="slds-assistive-text">Stage Complete</span>
                  </span>
                  <span class="slds-tabs--path__title">Under Review</span>
                </a>
              </li>
               <li class="{!IF(Contract.Status_Formula__c>4,'slds-tabs--path__item slds-is-complete',IF(Contract.Status_Formula__c=4,'slds-tabs--path__item slds-is-current','slds-tabs--path__item slds-is-incomplete'))}" role="presentation">
                <a class="slds-tabs--path__link" id="tabs-path-96" aria-controls="content-path-1" aria-selected="false" tabindex="-1" role="tab" href="javascript:void(0);" aria-live="assertive">
                  <span class="slds-tabs--path__stage">
                    <svg class="slds-icon slds-icon--x-small" aria-hidden="true">
                      <use xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#check')}"></use>
                    </svg>
                    <span class="slds-assistive-text">Stage Complete</span>
                  </span>
                  <span class="slds-tabs--path__title">Approved</span>
                </a>
              </li>   
               <li class="{!IF(Contract.Status_Formula__c>5,'slds-tabs--path__item slds-is-complete',IF(Contract.Status_Formula__c=5,'slds-tabs--path__item slds-is-current','slds-tabs--path__item slds-is-incomplete'))}" role="presentation">
                <a class="slds-tabs--path__link" id="tabs-path-96" aria-controls="content-path-1" aria-selected="false" tabindex="-1" role="tab" href="javascript:void(0);" aria-live="assertive">
                  <span class="slds-tabs--path__stage">
                    <svg class="slds-icon slds-icon--x-small" aria-hidden="true">
                      <use xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#check')}"></use>
                    </svg>
                    <span class="slds-assistive-text">Stage Complete</span>
                  </span>
                  <span class="slds-tabs--path__title">In Negotiation</span>
                </a>
              </li>    
               <li class="{!IF(Contract.Status_Formula__c>6,'slds-tabs--path__item slds-is-complete',IF(Contract.Status_Formula__c=6,'slds-tabs--path__item slds-is-current','slds-tabs--path__item slds-is-incomplete'))}" role="presentation">
                <a class="slds-tabs--path__link" id="tabs-path-96" aria-controls="content-path-1" aria-selected="false" tabindex="-1" role="tab" href="javascript:void(0);" aria-live="assertive">
                  <span class="slds-tabs--path__stage">
                    <svg class="slds-icon slds-icon--x-small" aria-hidden="true">
                      <use xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#check')}"></use>
                    </svg>
                    <span class="slds-assistive-text">Stage Complete</span>
                  </span>
                  <span class="slds-tabs--path__title">Pending Signature</span>
                </a>
              </li>                            
            <li class="{!IF(Contract.Status_Formula__c=7,'slds-tabs--path__item slds-is-complete slds-is-won',IF(Contract.Status_Formula__c<0,'slds-tabs--path__item slds-is-lost','slds-tabs--path__item slds-is-incomplete'))}" role="presentation">
                <a class="slds-tabs--path__link" id="tabs-path-100" aria-controls="content-path-1" aria-selected="false" tabindex="-1" role="tab" href="javascript:void(0);" aria-live="assertive">
                  <span class="slds-tabs--path__stage">
                    <svg class="slds-icon slds-icon--x-small" aria-hidden="true">
                      <use xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#check')}"></use>
                    </svg>
                  </span>
                  <span class="slds-tabs--path__title">{!IF(Contract.Status_Formula__c<0,IF(Contract.Status_Formula__c=-3,'Terminated','Expired'),'In Effect')}</span>
                  
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
   </html>
</apex:page>