<apex:page standardController="Account" extensions="financialsController">
<script>
function setFocusOnLoad() {}
</script>

<style>
.mainPanel table
{
    margin-left: auto;
    margin-right: auto;
}
</style>
<apex:form >

 <apex:pageBlock >
  <apex:pageBlockButtons styleClass="mainPanel">
   <apex:commandButton action="{!addFinacials}" value="Add" rerender="main" status="ajaxStatus" />
   <apex:commandButton action="{!saveChanges}" value="Save"
   oncomplete="window.parent.location.href = '/{!Account.Id}';"
    rerender="main" status="ajaxStatus" />
   <apex:commandButton action="{!Cancel}" immediate="true" value="Cancel" rerender="main" status="ajaxStatus"/>
  </apex:pageBlockButtons>
  
  <apex:actionStatus id="ajaxStatus" startText="Updating financials...">
   <apex:facet name="stop"></apex:facet>
  </apex:actionStatus>

   <apex:outputPanel style="text-align:center" id="main" styleClass="mainPanel">
    <table>
    <tr>
     <apex:repeat value="{!headers}" var="h">
      <td>{!h}</td>
     </apex:repeat>
    </tr>

    <apex:repeat value="{!Financials}" var="a">
     <tr>
  
      <td><apex:inputField value="{!a.Year_Text__c}" /></td>
      <td><apex:inputField value="{!a.Revenue__c}" /></td>
      <td><apex:inputField value="{!a.EBITDA__c}" /></td>
      <td><apex:inputField value="{!a.Gross_Margin__c}" /></td>
      <td><apex:inputField value="{!a.Head_Count__c}" /></td>
      <td><apex:inputField value="{!a.Customers__c}" /></td>  
   
     </tr>
    </apex:repeat>
    </table>
   </apex:outputPanel>

 </apex:pageBlock>
</apex:form>
</apex:page>