.toastMessage.forceActionsText{
    white-space : pre-line !important; 
}
div[data-component-id="IVPOwnershipCompanyRequestUtility"] .slds-has-notification.oneUtilityBarItem button.slds-button.slds-utility-bar__action, 
.slds-utility-bar .slds-utility-bar__item .slds-utility-bar__item.slds-has-notification .slds-utility-bar__action{
    background:transparent;
    color:rgb(8, 7, 7);
}