.THIS .slds-rich-text-area__content {
    height: 250px;
    max-height: 270px;
}
.THIS .editTaskComment .slds-modal__container{
    width: 95%;
    max-width: 100%;
    padding-top: 0%;
    padding-bottom: 0%;
}
.THIS .slds-textarea {
    height:280px !important;
}