.THIS .no-scroll{
    height: 39rem;
    max-height: 39rem;
    width: 20rem;
    bottom: 0.25rem;
}
.THIS .utility-panel{
    height: 35rem;
    width: 20rem;
    bottom: 1rem;
}
.THIS .utility-panel .slds-utility-panel__body  .slds-grid{
    height:32rem;
}
.THIS .slds-utility-panel{
    z-index:98;
}
.THIS .slds-utility-bar{
    z-index:99;
}