.THIS .dataError{
    margin-left: 49%;
    color: #ffa2a2;
    font-weight: bold;
    font-size: 16px;
}
.THIS .configure{
    text-align: right;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}
.THIS .truncate {
    max-width:50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.THIS .longText {
    min-width : 250px;
    white-space : normal;
}