.THIS .fullWidth {
    width:100%;
}
.THIS .inputBox {
    margin-left: 10px;
    margin-right: 10px;
    width: 97%;
}
 
.THIS .whiteColor .slds-icon-text-default{
    fill:white !important;
}
.THIS .slds-tabs_scoped__content {
    height: 250px!important;
    padding: 0px;
}
.THIS .dropdown-display{
    height:30px;
}
.THIS .dropdown-main > ul{
    height:170px;
}
.THIS .cancelButton{
    height: 40px;
    color: black;
    font-weight: bold;
    border: 0px;
    font-size: 18px;
    width:100%;
}

.THIS .applyTagButton{
   
    width:100%;
}
.THIS .removeTagButton{
    width:100%;
    
}
.THIS .applyTagCenter{
    border-bottom:2px solid lightgray;height:90px;
}
.THIS .applyTagBold{
    font-size: 35px;font-family: sans-serif;
}
.THIS .container{
    margin:20px;
}
.THIS .enterTag{
    font-size: 16px;color: gray;
}
.THIS .inputTextBox{
    margin-top:10px;height: 40px;
}
.THIS .dropdownList{
    display: block;
    min-width: auto;
    max-width: 100% ;
    width: 100%;
    box-shadow:0 2px 3px 0 rgba(0, 0, 0, 0.16);
}
.THIS .listItems{
    background-color:white;
    box-shadow:0 2px 3px 0 rgba(0, 0, 0, 0.16);
    border:1px solid rgb(217, 219, 221);
    height:35px;
}

.THIS .hrLineBottom{
    margin-top: 90px;
    border-top: 2px solid lightgray;
    margin-bottom: 15px;
}
.THIS .applyTagContainer{
    width: 95%;
    margin: 10px;
}
.THIS .cancelButtonContainer{
    margin-left: 10px;
    width: 45%;
    margin-right: 10px;
}
.THIS .removeTagContainer{
    margin-left: 10px;
    width: 45%;
}
.THIS .dropdown-main{
    height:220px !Important;
}

.THIS .dropDown{
    box-shadow:0 0px 1px 0 rgba(0,0,0,0.1),0 0px 0px 0 rgba(0,0,0,0.1)!important;
}