.THIS .slds-lookup__menu{
   
    top: 99%;
    overflow-y: overlay;
    width: 100%;

}
.THIS .cMySvg{
    height: 26px;
    width: 25px;
}
.THIS .slds-button__icon{
    width: 25px;
    height: 17px;
    position: absolute;
}