.THIS table {
    width:inherit !important;
}
.THIS table.dataTable tbody td {
    padding: 5px 18px !important;
    width:250px !important;

}
.THIS table.dataTable tbody th {
    width:250px !important;

}
.THIS .allPreference td{
    width:100px;
}
.THIS .EESUp{
    background-image: url('/resource/CompanyLead_UpArrowGreen');
    background-size: 10px 15px;
    background-repeat: no-repeat;
    height: 15px;
    display: inline-block;
    top: 2px;
    position: relative;
}
.THIS .EESDown{
    background-image: url('/resource/CompanyLead_DownArrowRed');
    background-size: 10px 15px;
    background-repeat: no-repeat;
    height: 15px;
    display: inline-block;
    top: 2px;
    position: relative;
}
.THIS .adjustData {
    white-space: nowrap;
}
.THIS .dataTables_wrapper .dataTables_length{
    margin:10px !important;
}
.THIS .companyInfo{
    border:solid 1px #e8e7e6;
}
.THIS .configure{
    text-align: right;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}
.THIS .Unassigned{
    background-color: rgb(206, 248, 237);
    cursor:pointer;
}
.THIS .Assigned{
    background-color: rgb(255, 182, 101, 0.33);
}
.THIS .fTd{
    display:flex;
    width:105px !important;
}
.THIS .unassignedUser{
    cursor:pointer;
}
.THIS.companiesHeader{
    font-weight: 300;
    font-size: 1.5rem;
    font-family: 'Salesforce Sans',Arial,sans-serif;
    margin-top: 35px;
}
.THIS .toggleHide{
    display:none;
}
.THIS .dataTable thead th{
    padding:none !important;
}

.THIS.jfy .slds-spinner.slds-spinner--brand{
    position:fixed;
    top:55%;
    left:48%;
}
.THIS.jfy.slds-spinner_container{
    z-index:99!important;
}

.THIS .text-wrap{
    white-space: normal!important;
    min-width:250px;
}
.THIS .ifLtng{
    display:inline;
}

.THIS .ifLtng img{
    padding-left:2px
}
.THIS .slds-border_left{
    border-width:1.5px;
}

.THIS .ifLtng img.slds-border_left {
    border-width:1.5px;
    padding-left: 0.5rem;
}
.THIS a.action{
    text-decoration:none;
}
.THIS .i-f-w{
    min-width:175px;
}