.THIS {

}
.THIS .fontWeightCss{
    font-weight: 700;
}

.THIS .companiesHeader{
    font-weight: 300;
    font-size: 1.5rem;
    font-family: 'Salesforce Sans',Arial,sans-serif;
    margin-top: 35px;
}